<aside>
  <div class="logo">
    <img src="../../assets/images/732245.png" class="img-fluid p-3">
  </div>
  <div class="main-menu d-flex flex-column justify-content-center align-items-center">
    <div class="px-3 circle-bg mb-2 text-white d-flex justify-content-center align-items-center">
      <i routerLink="addtask" class="fa fa-solid fa-plus"></i>
    </div>
    <div class="px-3 circle-bg mb-2 bg-green  text-white d-flex justify-content-center align-items-center">
      <i routerLink="done" class="fa fa-solid fa-check"></i>
    </div>
    <div class="px-3 circle-bg bg-danger text-white d-flex justify-content-center align-items-center">
      <span routerLink="deleted" class="">X</span>
    </div>



  </div>
  <div class="date d-flex flex-column justify-content-center align-items-center">
    <span class="clock color-purple">11:00</span>
    <span>Nov 12</span>
  </div>
</aside>
